@{
    ViewData["Title"] = "Privacy Policy GameWORLD";
}
<h1>@ViewData["Title"]</h1>

<hr>

<p> 
    <b>

    Introducere:

    </b>

    Politica noastră de confidențialitate explică modul în care colectăm, utilizăm și protejăm informațiile tale personale atunci când utilizezi site-ul nostru de jocuri. Înțelegem importanța confidențialității și ne angajăm să respectăm și să protejăm informațiile tale. Te rugăm să citești cu atenție această politică pentru a înțelege cum gestionăm și protejăm datele tale personale.
    
</p>

<p>
    <b>
    Colectarea informațiilor personale:

    </b>

    Atunci când utilizezi site-ul nostru de jocuri, este posibil să colectăm anumite informații personale, cum ar fi adresa ta de e-mail, numele de utilizator, informațiile de plată și alte detalii relevante pentru serviciile oferite. Aceste informații sunt colectate în mod voluntar de la tine atunci când te înregistrezi, faci cumpărături sau interacționezi cu site-ul nostru.
   
</p>

<p>
    <b>

    Utilizarea informațiilor personale:

    </b>

    Utilizăm informațiile personale pe care le colectăm în scopurile specifice pentru care au fost furnizate. Aceste scopuri pot include, dar nu se limitează la, procesarea plăților, livrarea produselor sau serviciilor solicitate, furnizarea de asistență clienți, personalizarea experienței de joc și furnizarea de actualizări relevante.
   
</p>

<p>
    <b>

    Protecția informațiilor personale:

    </b>

    Ne angajăm să protejăm informațiile tale personale și să implementăm măsuri de securitate adecvate pentru a preveni accesul neautorizat, utilizarea inadecvată sau divulgarea acestora. Utilizăm metode și tehnologii de securitate pentru a proteja informațiile tale personale împotriva pierderii, furtului și accesului neautorizat.
  
</p>

<p>
    <b>

    Divulgarea informațiilor către terți:

    </b>

    Nu vom dezvălui informațiile tale personale către terți fără consimțământul tău, cu excepția cazurilor prevăzute de lege sau în cazul în care este necesar pentru a furniza produsele sau serviciile solicitate de tine. În cazul în care este necesară divulgarea către terți, vom lua măsuri pentru a ne asigura că informațiile tale personale sunt protejate în conformitate cu politica noastră.
   
</p>

<p>
    <b>

    Cookie-uri și tehnologii similare:

    </b>

    Site-ul nostru poate utiliza cookie-uri și alte tehnologii similare pentru a colecta informații despre utilizarea ta. Aceste informații sunt utilizate pentru a îmbunătăți experiența ta de utilizare și pentru a personaliza conținutul și publicitatea pe site-ul nostru. Poți să refuzi sau să gestionezi utilizarea cookie-urilor prin setările browserului tău, însă acest lucru poate afecta funcționalitatea site-ului nostru.
  
</p>

<p>
    <b>

    Modificări ale politicii de confidențialitate:

    </b>

    Ne rezervăm dreptul de a modifica periodic această politică de confidențialitate pentru a reflecta schimbările în practicile noastre de colectare și utilizare a informațiilor personale. Vom publica orice modificări ale politicii de confidențialitate pe acest site și vom actualiza data de "Cufar de cunoștințe" pentru a reflecta data ultimei actualizări. Te încurajăm să revii pe această pagină pentru a fi la curent cu cele mai recente informații privind practicile noastre de confidențialitate.
 
</p>

<p>
    <b>

    Contact:

    </b>

    Dacă ai întrebări sau preocupări legate de această politică de confidențialitate sau de modul în care gestionăm informațiile tale personale, te rugăm să ne contactezi utilizând informațiile de contact furnizate pe site-ul nostru.
    
</p>

<p>
    <b>

    Concluzie:

    </b>

    Politica noastră de confidențialitate asigură că informațiile tale personale sunt colectate, utilizate și protejate în mod responsabil. Respectăm confidențialitatea ta și ne străduim să îți oferim o experiență sigură și plăcută atunci când utilizezi site-ul nostru de jocuri.

</p>

<hr>