@page
@model GameWORLD.Views.Pages.CautaredupaGenulJoculuiModel

<html>
<head>
    <link rel="stylesheet" href="~/css/styleGame.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        GameWorld.com - Site-ul tuturor jocurilor din lume!
    </title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <header>

        <a href="https://localhost:7117/Pages/HTMLPageGame">
            <img src="~/images/GameWorld.png" alt="logo">
        </a>

        <form>
            <div class="search">
                <input type="text" placeholder="Ce cautati?">
                <button type="submit"><img src="~/images/SearchIcon.png" alt="Search"></button>

            </div>
        </form>

        <img class="ShoppingBagIcon" src="~/images/ShoppingBagIcon.png" alt="ShoppingBagIcon">
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Cumpărături </button></a>

    </header>

    <h1> Jocuri după Gen:</h1>

    <hr>

    <h3>Jocuri de acțiune:</h3>

    <div class="image-container">
        <img src="~/images/GTA5.jpg" alt="Imagine 1">
        <p>Grand Theft Auto V (PC)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/GodofWarRagnarok.jpg" alt="Imagine 1">
        <p>God of War Ragnarok (PlayStation)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/SeaofThieves.jpg" alt="Imagine 3">
        <p>Sea of Thieves (Xbox)</p>
        <p>200 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/TheLegendofZeldaTearsoftheKingdom.jpg" alt="Imagine 1">
        <p>The Legend of Zelda: Tears of the Kingdom (Nintendo Switch)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <h3>Jocuri cu platforme:</h3>

    <div class="image-container">
        <img src="~/images/Diablo3BattleChest.jpg" alt="Imagine 2">
        <p>Diablo III: BattleChest (PC)</p>
        <p>150 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/FIFA23.jpg" alt="Imagine 3">
        <p>FIFA 23 (PC)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/GranTurismo7.jpg" alt="Imagine 2">
        <p>Gran Turismo 7 (PlayStation)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/ForzaHorizon5.jpg" alt="Imagine 1">
        <p>Forza Horizon 5 (Xbox)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/SuperMarioOdyssey.jpg" alt="Imagine 2">
        <p>Super Mario Odyssey (Nintendo Switch)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <h3>Jocuri cu împușcături:</h3>

    <div class="image-container">
        <img src="~/images/RainbowSixSiege.jpg" alt="Imagine 4">
        <p>Rainbow Six Siege (PC)</p>
        <p>150 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/Destiny2TheWitchQueen.jpg" alt="Imagine 3">
        <p>Destiny 2: The Witch Queen (PlayStation)</p>
        <p>150 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/HaloInfinite.jpg" alt="Imagine 2">
        <p>Halo Infinite (Xbox)</p>
        <p>150 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <h3>Jocuri de luptă:</h3>

    <div class="image-container">
        <img src="~/images/SuperSmashBros.Ultimate.jpg" alt="Imagine 3">
        <p>Super Smash Bros. Ultimate (Nintendo Switch)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <h3>Jocuri de supraviețuire:</h3>

    <div class="image-container">
        <img src="~/images/ResidentEvil7Biohazard.jpg" alt="Imagine 5">
        <p>Resident Evil 7: Biohazard (PC)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

</body>
</html>