@page
@model GameWORLD.Views.Pages.DespreNoiModel

<html>
<head>
    <link rel="stylesheet" href="~/css/styleGame.css" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content = "IE=edge">

<title>
      GameWorld.com - Site-ul tuturor jocurilor din lume!
</title>

<meta name = "description" content="">
<meta name = "viewport" content="width=device-width, initial-scale=1">



</head>
<body>

    <header>

        <a href="https://localhost:7117/Pages/HTMLPageGame">
          <img src="~/images/GameWorld.png" alt="logo">
        </a>
  
       <form>
          <div class="search">
            <input type="text" placeholder="Ce cautati?">
            <button type="submit"><img src="~/images/SearchIcon.png" alt="Search"></button>
  
          </div>
        </form>
  
       <img class = "ShoppingBagIcon" src = "~/images/ShoppingBagIcon.png" alt = "ShoppingBagIcon">
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"> <button> Cumpărături </button></a>
  
    </header>

    <h1> DESPRE FIRMA GAMEWORLD:</h1>
    <hr>
    <h5><b> Jocurile video au devenit parte a culturii populare din anii 70, odată cu trecerea timpului și evoluția tehnologiei devenind o modalitate de relaxare tot mai accesibilă și mai complexă. Așa  am ajuns, pe măsură ce tehnologia a avansat, să avem jocuri cu scenariu și grafică complexe, jocuri de strategie, cu personaje bine conturate, jocuri care implică inclusiv elemente de VR. </b></h5>
    <hr>
    <h5><b> În prezent, industria jocurilor video este una dintre industriile cu cea mai accelerată dezvoltare, depășind cu mult industria muzicală sau a divertismentului. Gamingul este popular nu doar în rândul tinerilor, ci și printre adulți, cele mai celebre jocuri video ajungând să adune în jurul lor adevărate comunități de fani. Iar aici apare una dintre cele mai comune îngrijorări atunci când vine vorba despre jocurile video, mai ales printre părinți: posibilitatea apariției dependenței. </b></h5>
    <hr>
    <h5><b> Așa că vă invităm sa explorați site-ul nostru GameWorld și să vă bucurați de cele mai bune experiențe posibile. GAME ON! </b></h5>
    <hr>

</body>
</html>