@page
@model GameWORLD.Views.Pages.HTMLPageGameModel

<html>
<head>
    <link rel="stylesheet" href="~/css/styleGame.css" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content = "IE=edge">

<title>
      GameWorld.com - Site-ul tuturor jocurilor din lume!
</title>

<meta name = "description" content="">
<meta name = "viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <header>

      <a href="https://localhost:7117/Pages/HTMLPageGame">
        <img src="~/images/GameWorld.png" alt="logo">
      </a>

     <form>
        <div class="search">
          <input type="text" placeholder="Ce căutați?">
          <button type="submit"><img src="~/images/SearchIcon.png" alt="Search"></button>

        </div>
      </form>

     <img class = "ShoppingBagIcon" src = "~/images/ShoppingBagIcon.png" alt = "ShoppingBagIcon">
     <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Cumpărături </button></a>

    </header>

    <div class="navbar-container">

      <div class="navbar-title">
        <h2>Categorii</h2>
      </div>

        <div class="navbar">
        <a href="https://localhost:7117/Pages/JocuriVideo">Jocuri Video</a>
        <a href="https://localhost:7117/Pages/Altele">Altele</a>
        <a href="https://localhost:7117/Pages/DespreNoi">Despre noi</a>
        <a href="https://localhost:7117/Pages/Contacte">Contacte</a>
        
      </div>

    </div>

    <a href="https://localhost:7117/Pages/JocurideTop"><h1> Jocuri de top </h1></a>
    <p><b>Cele mai bune oferte, noi jocuri video AAA, DLC-uri, carduri cadou și altele. Cumpără cele mai vândute jocuri și alte produse digitale la cel mai bun preț.</b></p>
    <hr>

    <a href="https://localhost:7117/Pages/CelemaiVandute"><h1> Cele mai vandute </h1></a>
    <p><b> Explorează cele mai populare jocuri video.</b></p>
    <hr>

    <a href="https://localhost:7117/Pages/JocuriPlaystation"><h1> Jocuri PlayStation</h1></a>
    <p><b>Umpleți biblioteca PlayStation și cumpară cele mai noi și cele mai exclusive jocuri apărute vreodată pe această consolă.</b></p>
    <hr>

    <a href="https://localhost:7117/Pages/JocuriXbox"><h1> Jocuri Xbox</h1></a>
    <p><b>Extindeți biblioteca Xbox cu noi titluri și treceți la curent cu cele mai recente versiuni pentru consola Microsoft. Unele dintre ele vor funcționa chiar și pe PC-ul dumneavoastră! </b></p>
    <hr>

    <a href="https://localhost:7117/Pages/JocuriNintendo"><h1> Jocuri Nintendo </h1></a>
    <p><b> Diversificați biblioteca Nintendo Switch cu jocurile pe care le oferim. De la "The Legend of Zelda" la cele mai recente jocuri cu Mario si Sonic, aici le puteți găsi. </b></p>
    <hr>

    <a href="https://localhost:7117/Pages/CautaredupaGenulJocului"><h1> Cautare dupa genul jocului</h1></a>
    <p><b> Ești fan FPS shooter sau iubitor de jocuri RPG? Sau poate petreci ore intregi jucând jocuri de strategie? În această secțiune, veți găsi cele mai bune jocuri video clasificate în diferite genuri.</b></p>

</body>
</html>