@page
@model GameWORLD.Views.Pages.JocuriNintendoModel

<html>
<head>
    <link rel="stylesheet" href="~/css/styleGame.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        GameWorld.com - Site-ul tuturor jocurilor din lume!
    </title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <header>

        <a href="https://localhost:7117/Pages/HTMLPageGame">
            <img src="~/images/GameWorld.png" alt="logo">
        </a>

        <form>
            <div class="search">
                <input type="text" placeholder="Ce cautati?">
                <button type="submit"><img src="~/images/SearchIcon.png" alt="Search"></button>

            </div>
        </form>

        <img class="ShoppingBagIcon" src="~/images/ShoppingBagIcon.png" alt="ShoppingBagIcon">
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Cumpărături </button></a>

    </header>

    <h1> Jocuri Nintendo:</h1>

    <hr>

    <div class="image-container">
        <img src="~/images/TheLegendofZeldaTearsoftheKingdom.jpg" alt="Imagine 1">
        <p>The Legend of Zelda: Tears of the Kingdom (Nintendo Switch)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/SuperMarioOdyssey.jpg" alt="Imagine 2">
        <p>Super Mario Odyssey (Nintendo Switch)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

    <div class="image-container">
        <img src="~/images/SuperSmashBros.Ultimate.jpg" alt="Imagine 3">
        <p>Super Smash Bros. Ultimate (Nintendo Switch)</p>
        <p>300 lei</p>
        <a class="cta" href="https://localhost:7117/Pages/Cumparaturi"><button> Adaugă în coș </button></a>
    </div>

</body>
</html>